<!-- 
<div class="alert alert-info" id='smallscreenAlert'>
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Info!</strong> This alert box could indicate a neutral informative change or action.
  </div> -->

<!-- chart -->





<!-- Chart -->

	<!-- chart checkboxes -->
	<div class='pull-left' id='linechartAlloptionsCheckbox1'>
        <label class='label--checkbox' id='checkbox4'>
        <input type="checkbox" ng-model="thirtyDay" ng-change="lastThiry('thirtyday')" class='checkbox'>
        <span class='checkboxLabelText'>
          Last 30 days
        </span>
        </label>
     </div>
     <div class='pull-right' id='linechartAlloptionsCheckbox2'>
        <label class='label--checkbox' id='checkbox2'>
        <input type="checkbox" ng-model="clintonValues" ng-change="addOnlyClinton('clintonValues')" class='checkbox'>
        <span class='checkboxLabelText' style="color:#2980b9;">
          Clinton: {{pollyvoteClintonForcast}}%
        </span>
        </label>
        <label class='label--checkbox' id='checkbox3'>
        <input type="checkbox" ng-model="trumpValues" ng-change="addOnlyTrump('trumpValues')" class='checkbox'>
        <span class='checkboxLabelText' style="color:#e74c3c;">
          Trump: {{pollyvoteTrumpForcast}}%
        </span>
        </label>
        
      </div>


	      
        

	<!-- svg -->
	<div id='box' class='col-xs-12' ng-hide="showme">
		<div id="container" config="chartConfig" ></div>
	</div>
	 









  <script>
  $(".btn-embed").click(function(){
    $(".Stage-popup").hide();
     $(".Stage-popup-embed").show();
    });
    $('.Stage-popup .popup-close-btn').click(function() { $('.Stage-popup').hide(); });
</script>



</div>