
<!-- modal for embeding -->

 <div class="Stage-popup Stage-popup-embed" id='myModal' style='width: 50 ; height: 90 ; padding-left:2.5 ; z-index: 1000;'>
            <div class="popup-body">
                <a class="popup-close-btn">✕</a>
                <h2 class='embedHeading'>EMBED</h2>
                <p>Embed the following link to show chart in your webpage. Embedding and sharing is free for everyone. The content is dynamic, i.e. numbers and text change in accordance with the data.</p>
                <textarea class="embed-code">
<iframe width="100 " height="450px" src="//charts.pollyvote.com/lineChart" frameborder="0" allowfullscreen></iframe>
                </textarea>
                </a>
            </div>
        </div>

<!-- chart -->

<div class='col-xs-12 chartHeader' >
	<h1 class=''>PollyVote and its components</h1>
	<p>Last Updated: </p>
</div>


<!-- Chart -->
<div class='col-xs-9' ng-if="chartConfig">
	<!-- chart checkboxes -->

	<!-- svg -->
	 <highchart id="chart1" config="chartConfig"></highchart>


</div>

<!-- components -->

<!--  <div id="grid1" ui-grid="{ data: myData }" class="grid"></div> -->
<table class='col-xs-3 linechartTable' id='lineChartTable' close-others="oneAtATime">
	<thead>
		<tr class='lineCharttableRow'>
			<td>
				<a href="">Pollyvote</a> 
			</td>
			<td>
				Clinton
			</td>
			<td>
				Trump
			</td>
		</tr>
	</thead>
	<tbody class='lineChartTableBody'>
		<tr class='lineCharttableRow'  id="Row1" class="accordion-toggle" data-toggle="collapse" data-parent="#lineChartTable" data-target=".subheading1">
			<td>
			<!-- <button ng-click="expandedIndex = !expandedIndex" expand>
            <span ng-bind="expandedIndex ? '-' : '+'"></span>
                    </button> -->
				<a href="">
				Index Models</a>
				</td>
				<td class="linecharttablevalues">23 </td>
				<td class="linecharttablevalues">23 </td>
				</tr>
				<tr class="linecharttablesubheading subheading1" ng-if="expandedIndex">
					<td class="linechartcomponentHeading">
						Keys to the White House
					</td>
					<td class="linecharttablevalues">
					56 
					</td>
					<td class="linecharttablevalues">
					68 
					</td>
				</tr>
				<tr  class="linecharttablesubheading" ng-if="expandedIndex">
					<td class="linechartcomponentHeading">
						Issues and Leaders
					</td>
					<td class="linecharttablevalues">
					56 
					</td>
					<td class="linecharttablevalues">
					68 
					</td>
				</tr>
					<tr  class="linecharttablesubheading" ng-if="expandedIndex">
					<td class="linechartcomponentHeading">
						Bio-index
					</td>
					<td class="linecharttablevalues">
					56 
					</td>
					<td class="linecharttablevalues">
					68 
					</td>
				</tr>
				<tr  class="linecharttablesubheading" ng-if="expandedIndex" ng-if="expandedIndex">
					<td class="linechartcomponentHeading">
						Big-issue
					</td>
					<td class="linecharttablevalues">
					56 
					</td>
					<td class="linecharttablevalues">
					68 
					</td>
				</tr>
				<tr  class="linecharttablesubheading" ng-if="expandedIndex">
					<td class="linechartcomponentHeading">
						Issue-index
					</td>
					<td class="linecharttablevalues">
					56 
					</td>
					<td class="linecharttablevalues">
					68 
					</td>
				</tr>
		</tr>

		<tr  class='lineCharttableRow' close-others="oneAtATime">
		<td>
		<button ng-click="expandedExpert = !expandedExpert" expand>
            <span ng-bind="expandedExpert ? '-' : '+'"></span>
                    </button>
		<a href="">Expert judgment</a>
		
		</td>
		<td class="linecharttablevalues">22 </td>
		<td class="linecharttablevalues">22 </td>
		<tr  class="linecharttablesubheading" ng-if="expandedExpert">
					<td class="linechartcomponentHeading">
						PollyVote.com Expert Panel
					</td>
					<td class="linecharttablevalues">
					56 
					</td>
					<td class="linecharttablevalues">
					68 
					</td>
				</tr>
				
				<td>
					
				</td>
				</tr>
			
		</tr>


		<tr  class='lineCharttableRow' close-others="oneAtATime">
		<td>
		<button ng-click="expandedCitizen = !expandedCitizen" expand>
            <span ng-bind="expandedCitizen ? '-' : '+'"></span>
                    </button>
		<a href="">Citizen forecasts</a>
		</td>
		<td class="linecharttablevalues">22 </td>
		<td class="linecharttablevalues">22 </td>
		<tr  class="linecharttablesubheading" ng-if="expandedCitizen">
					<td class="linechartcomponentHeading">
						Quinnipiac University
					</td>
					<td class="linecharttablevalues">
					56 
					</td>
					<td class="linecharttablevalues">
					68 
					</td>
				</tr>

				<tr  class="linecharttablesubheading" ng-if="expandedCitizen">
					<td class="linechartcomponentHeading">
						Economist / YouGov
					</td>
					<td class="linecharttablevalues">
					56 
					</td>
					<td class="linecharttablevalues">
					68 
					</td>
				</tr>

				<tr  class="linecharttablesubheading" ng-if="expandedCitizen">
					<td class="linechartcomponentHeading">
						Suffolk University/USA Today
					</td>
					<td class="linecharttablevalues">
					56 
					</td>
					<td class="linecharttablevalues">
					68 
					</td>
				</tr>
				
				<td>
					
				</td>
				</tr>
			
		</tr>


			<tr  class='lineCharttableRow'>
		<td>
		<button ng-click="expandedmarkets = !expandedmarkets" expand>
            <span ng-bind="expandedmarkets ? '-' : '+'"></span>
                    </button>
		<a href="">Prediction markets</a>
		</td>
		<td class="linecharttablevalues">22 </td>
		<td class="linecharttablevalues">22 </td>
		<tr  class="linecharttablesubheading" ng-if="expandedmarkets">
					<td class="linechartcomponentHeading">
						IEM (vote-share)
					</td>
					<td class="linecharttablevalues">
					56 
					</td>
					<td class="linecharttablevalues">
					68 
					</td>
				</tr>
				
				<td>
					
				</td>
				</tr>
			
		</tr>


			<tr  class='lineCharttableRow'>
		<td>
		<button ng-click="expandedaggregators = !expandedaggregators" expand>
            <span ng-bind="expandedaggregators ? '-' : '+'"></span>
                    </button>
		<a href="">Poll aggregators</a>
		</td>
		<td class="linecharttablevalues">22 </td>
		<td class="linecharttablevalues">22 </td>
		<tr  class="linecharttablesubheading" ng-if="expandedaggregators">
					<td class="linechartcomponentHeading">
						TPM Poll Tracker
					</td>
					<td class="linecharttablevalues">
					56 
					</td>
					<td class="linecharttablevalues">
					68 
					</td>
				</tr>
				
				<td>
					
				</td>
				</tr>

				<tr  class="linecharttablesubheading" ng-if="expandedaggregators">
					<td class="linechartcomponentHeading">
						NYT
					</td>
					<td class="linecharttablevalues">
					56 
					</td>
					<td class="linecharttablevalues">
					68 
					</td>
				</tr>
				
				<td>
					
				</td>
				</tr>

				<tr  class="linecharttablesubheading" ng-if="expandedaggregators">
					<td class="linechartcomponentHeading">
						HuffPost Pollster
					</td>
					<td class="linecharttablevalues">
					56 
					</td>
					<td class="linecharttablevalues">
					68 
					</td>
				</tr>
				
				<td>
					
				</td>
				</tr>

				<tr  class="linecharttablesubheading" ng-if="expandedaggregators">
					<td class="linechartcomponentHeading">
						Election Projection
					</td>
					<td class="linecharttablevalues">
					56 
					</td>
					<td class="linecharttablevalues">
					68 
					</td>
				</tr>
				
				<td>
					
				</td>
				</tr>

				<tr  class="linecharttablesubheading" ng-if="expandedaggregators">
					<td class="linechartcomponentHeading">
						538 (polls-only)
					</td>
					<td class="linecharttablevalues">
					56 
					</td>
					<td class="linecharttablevalues">
					68 
					</td>
				</tr>

				<tr  class="linecharttablesubheading" ng-if="expandedaggregators">
					<td class="linechartcomponentHeading">
						270 to win
					</td>
					<td class="linecharttablevalues">
					56 
					</td>
					<td class="linecharttablevalues">
					68 
					</td>
				</tr>

				<tr  class="linecharttablesubheading" ng-if="expandedaggregators">
					<td class="linechartcomponentHeading">
						RealClearPolitics
					</td>
					<td class="linecharttablevalues">
					56 
					</td>
					<td class="linecharttablevalues">
					68 
					</td>
				</tr>

				<tr  class="linecharttablesubheading" ng-if="expandedaggregators">
					<td class="linechartcomponentHeading">
						PEC
					</td>
					<td class="linecharttablevalues">
					56 
					</td>
					<td class="linecharttablevalues">
					68 
					</td>
				</tr>
				</tr>
			
			
		</tr>



			<tr  class='lineCharttableRow'>
		<td>
		<button ng-click="expandedmodels = !expandedmodels" expand>
            <span ng-bind="expandedmodels ? '-' : '+'"></span>
                    </button>
		<a href="">Econometric models</a>
		</td>
		<td class="linecharttablevalues">22 </td>
		<td class="linecharttablevalues">22 </td>
		<tr  class="linecharttablesubheading" ng-if="expandedmodels">
					<td class="linechartcomponentHeading">
						Vox.com
					</td>
					<td class="linecharttablevalues">
					56 
					</td>
					<td class="linecharttablevalues">
					68 
					</td>
				</tr>

				<tr  class="linecharttablesubheading" ng-if="expandedmodels">
					<td class="linechartcomponentHeading">
						Time-for-change
					</td>
					<td  class="linecharttablevalues">
					56 
					</td>
					<td class="linecharttablevalues">
					68 
					</td>
				</tr>

				<tr  class="linecharttablesubheading" ng-if="expandedmodels">
					<td class="linechartcomponentHeading">
						Primary
					</td>
					<td class="linecharttablevalues">
					56 
					</td>
					<td class="linecharttablevalues">
					68 
					</td>
				</tr>

				<tr  class="linecharttablesubheading" ng-if="expandedmodels">
					<td class="linechartcomponentHeading">
						Lockerbie
					</td>
					<td class="linecharttablevalues">
					56 
					</td>
					<td class="linecharttablevalues">
					68 
					</td>
				</tr>

				<tr  class="linecharttablesubheading" ng-if="expandedmodels">
					<td class="linechartcomponentHeading">
						Lewis-Beck & Tien
					</td>
					<td class="linecharttablevalues">
					56 
					</td>
					<td class="linecharttablevalues">
					68 
					</td>
				</tr>

				<tr  class="linecharttablesubheading" ng-if="expandedmodels">
					<td class="linechartcomponentHeading">
						Leading indicators
					</td>
					<td class="linecharttablevalues">
					56 
					</td>
					<td class="linecharttablevalues">
					68 
					</td>
				</tr>

				<tr  class="linecharttablesubheading" ng-if="expandedmodels">
					<td class="linechartcomponentHeading">
						Jérôme & Jérôme
					</td>
					<td class="linecharttablevalues">
					56 
					</td>
					<td class="linecharttablevalues">
					68 
					</td>
				</tr>

				<tr  class="linecharttablesubheading" ng-if="expandedmodels">
					<td class="linechartcomponentHeading">
						Trial-heat
					</td>
					<td class="linecharttablevalues">
					56 
					</td>
					<td class="linecharttablevalues">
					68 
					</td>
				</tr>

				<tr  class="linecharttablesubheading" ng-if="expandedmodels">
					<td class="linechartcomponentHeading">
						Fair
					</td>
					<td class="linecharttablevalues">
					56 
					</td>
					<td class="linecharttablevalues">
					68 
					</td>
				</tr>

				<tr  class="linecharttablesubheading" ng-if="expandedmodels">
					<td class="linechartcomponentHeading">
						Electoral-cycle
					</td>
					<td class="linecharttablevalues">
					56 
					</td>
					<td class="linecharttablevalues">
					68 
					</td>
				</tr>

				<tr  class="linecharttablesubheading" ng-if="expandedmodels">
					<td class="linechartcomponentHeading">
						DeSart
					</td>
					<td class="linecharttablevalues">
					56 
					</td>
					<td class="linecharttablevalues">
					68 
					</td>
				</tr>

				<tr  class="linecharttablesubheading" ng-if="expandedmodels">
					<td class="linechartcomponentHeading">
						Convention bump
					</td>
					<td class="linecharttablevalues">
					56 
					</td>
					<td class="linecharttablevalues">
					68 
					</td>
				</tr>

				<tr  class="linecharttablesubheading" ng-if="expandedmodels">
					<td class="linechartcomponentHeading">
						538 (polls-plus)
					</td>
					<td class="linecharttablevalues">
					56 
					</td>
					<td class="linecharttablevalues">
					68 
					</td>
				</tr>

				<tr  class="linecharttablesubheading" ng-if="expandedmodels">
					<td class="linechartcomponentHeading">
						Fiscal model
					</td>
					<td class="linecharttablevalues">
					56 
					</td>
					<td class="linecharttablevalues">
					68 
					</td>
				</tr>
				
				<td>
					
				</td>
				</tr>
			
			
		</tr>
	</tbody>
</table>


<!-- footer -->
 <div class='footer col-xs-12'> 
 <div class='pull-left'>
 <a href="http://pollyvote.com/en/about/data/" target="_blank"> <img class='footerLogo' src="assets/images/chartFooterLogo.png" width="15%">PollyVote
  </a>
 
 <p style='color:grey; font-size: 0.7em; vertical-align: baseline; padding:0;'>
  For more charts head to <a href="http://charts.pollyvote.com/" target='_blank'>charts.pollyvote.com</a>
 </p>
 </div>


<!-- socialshare -->

<div class='shareButtons pull-right'>
<a class="btn-embed shareButtonImage" data-toggle="modal" data-target="#myModal">EMBED</a>


<a
id='twitter'
socialshare
socialshare-provider="twitter"
socialshare-text="@PollyVote forecast of the #2016election:
Democrats:   {{democrates}} 
Republicans: {{repulicans}} "
socialshare-hashtags=" "
socialshare-url="http://charts.pollyvote.com/lineChart">
<img class='shareButtonImage' src="assets/images/twitterLogo.png">
</a>

<a
id='facebook'
socialshare
socialshare-provider="facebook"
socialshare-type="feed"
socialshare-media="http://gfx.pollyvote.com/assets/images/facebookShareImage.png"
socialshare-text="PollyVote Prediction Chart"
socialshare-description="As of {{dateWithyear}}, @PollyVote predicts the Democrats to garner {{democrates}}  of the two-party popular vote and and Republicans to garner {{repulicans}}  of the two-party popular vote."
socialshare-hashtags="PollyVote, US-Elections"
socialshare-url="http://charts.pollyvote.com/lineChart"
socialshare-caption="Updated daily">
<img class='shareButtonImage' src="assets/images/facebookLogo.png">
</a>
</div>


 </div>

  <script>
  $(".btn-embed").click(function(){
    $(".Stage-popup").hide();
     $(".Stage-popup-embed").show();
    });
    $('.Stage-popup .popup-close-btn').click(function() { $('.Stage-popup').hide(); });
</script>


