
<!-- modal for embeding -->

 <div class="Stage-popup Stage-popup-embed" id='myModal' style='width: 50 ; height: 90 ; padding-left:2.5 ; z-index: 1000;'>
            <div class="popup-body">
                <a class="popup-close-btn">✕</a>
                <h2 class='embedHeading'>EMBED</h2>
                <p>Embed the following link to show chart in your webpage. Embedding and sharing is free for everyone. The content is dynamic, i.e. numbers and text change in accordance with the data.</p>
                <textarea class="embed-code">
<iframe width="100 " height="450px" src="//charts.pollyvote.com/linechartwithalloptions" frameborder="0" allowfullscreen></iframe>
                </textarea>
                </a>
            </div>
        </div>

<!-- chart -->

<div class='col-xs-12 chartbody' style='padding-left:2.5%; padding-bottom: 2%;'>
	<h2 class='chartHeadline' style='font-weight: bold; text-transform: uppercase; font-family: Montserrat, sans-serif;font-size:16px;'>POLLYVOTE POPULAR VOTE FORECAST (TWO-PARTY)

</h2>
	<p>Last Updated: {{lastdate}} ({{lastupDated}})</p>
</div>


<!-- Chart -->
<div class='col-xs-9'>
	<!-- chart checkboxes -->
	<div class='pull-left' id='linechartAlloptionsCheckbox1'>
        <label class='label--checkbox ' id='checkbox1'>
        <input type="checkbox" ng-model="timeline" ng-change="completeTimeLine('timeline')" class='checkbox'>
        <span class='checkboxLabelText'>
          Election timeline
        </span>
        </label>
        <label class='label--checkbox' id='checkbox4'>
        <input type="checkbox" ng-model="thirtyDay" ng-change="lastThiry('thirtyday')" class='checkbox'>
        <span class='checkboxLabelText'>
          Last 30 days
        </span>
        </label>
     </div>
     <div class='pull-right' id='linechartAlloptionsCheckbox2'>
        <label class='label--checkbox' id='checkbox2'>
        <input type="checkbox" ng-model="clintonValues" ng-change="addOnlyClinton('clintonValues')" class='checkbox'>
        <span class='checkboxLabelText' style="color:#2980b9;">
          Clinton: {{pollyvoteClintonForcast}}%
        </span>
        </label>
        <label class='label--checkbox' id='checkbox3'>
        <input type="checkbox" ng-model="trumpValues" ng-change="addOnlyTrump('trumpValues')" class='checkbox'>
        <span class='checkboxLabelText' style="color:#e74c3c;">
          Trump: {{pollyvoteTrumpForcast}}%
        </span>
        </label>
      </div>


	<!-- svg -->
	<div id='box' class='col-xs-12'>
		<div id="container" config="chartConfig"></div>
	</div>
	 


</div>
<div class='col-xs-3'>
<table class='table table-striped table-responsive' id='lineChartTable' close-others="oneAtATime" style="border-collapse:collapse;">
	<thead class='lineCharttableHeader'>
		<tr class='lineCharttableRow'>
			<td>
				Method 
			</td>
			<td>
				Clinton
			</td>
			<td>
				Trump
			</td>
		</tr>
	</thead>
	<tbody class='lineChartTableBody'>
	<tr class='lineCharttableRow'>
			<td>
			<input type="checkbox" ng-model="pollyVote" ng-change="addpollyVote()" class='checkbox'>
				
				<a rel="noopener" href="//pollyvote.com/en/combining-forecasts/" target="_blank">
				PollyVote</a>
				</td>
				<td class="linecharttablevalues">{{pollyvoteClintonForcast}}</td>
				<td class="linecharttablevalues">{{pollyvoteTrumpForcast}}</td>
				</tr>


		<tr class='lineCharttableRow'>
			<td>
			<span ng-click="expandedIndex = !expandedIndex" expand>+</span>
			<input type="checkbox" ng-model="indexModel" ng-change="indexOnclick()" class='checkbox'>
				<a rel="noopener" target="_blank" href="//pollyvote.com/en/components/index-models/" >
				Index Models</a>
				</td>
				<td class="linecharttablevalues">{{indexClintonForcast}}</td>
				<td class="linecharttablevalues">{{indexTrumpForcast}}</td>
				
				<tr class="linecharttablesubheading">
				<tr ng-show="expandedIndex"> 
					<td class="linechartcomponentHeading">
		            <input type="checkbox" ng-model="keysWhiteHouse" ng-change="keysOnclick()" class='checkbox'>
						<a rel="noopener" target="_blank" href="//pollyvote.com/en/components/index-models/keys-to-the-white-house/" >Keys to the White House</a>
					</td>
					<td class="linecharttablevalues">
					{{keystowhiteHouseClintonForcast}} 
					</td>
					<td class="linecharttablevalues">
					{{keystowhiteHousetrumpForcast}} 
					</td>
				</tr>
				<tr ng-show="expandedIndex">
					<td class="linechartcomponentHeading">
					<input type="checkbox" ng-model="issuesAndLeaders" ng-change="issuesOnclick()" class='checkbox'>
						<a rel="noopener" target="_blank" href="//pollyvote.com/en/components/index-models/issues-and-leaders/" >Issues and Leaders</a>
					</td>
					<td class="linecharttablevalues">
					{{IssuesandLeadersClintonForcast}}
					</td>
					<td class="linecharttablevalues">
					{{issuesandLeadersTrumpForecast}} 
					</td>
				</tr>
					<tr  ng-show="expandedIndex">
					<td class="linechartcomponentHeading">
					<input type="checkbox" ng-model="bioIndex" ng-change="bioIndexOnclick()" class='checkbox'>
						<a rel="noopener" target="_blank" href="//pollyvote.com/en/components/index-models/bio-index" >Bio-index</a>
					</td>
					<td class="linecharttablevalues">
					{{bioindexClintonForecast}}
					</td>
					<td class="linecharttablevalues">
					{{bioindexTrumpForecast}} 
					</td>
				</tr>
				<tr  ng-show="expandedIndex">
					<td class="linechartcomponentHeading">
					<input type="checkbox" ng-model="bigIssue" ng-change="bigIssueOnclick()" class='checkbox'>
						<a rel="noopener" target="_blank" href="//pollyvote.com/en/components/index-models/big-issue">Big-issue</a>
					</td>
					<td class="linecharttablevalues">
					{{bigIssueClintonForecast}} 
					</td>
					<td class="linecharttablevalues">
					{{bigIssueTrumpForecast}} 
					</td>
				</tr>
				<tr ng-show="expandedIndex">
					<td class="linechartcomponentHeading">
					<input type="checkbox" ng-model="issueIndex" ng-change="issueIndexOnclick()" class='checkbox'>
						<a rel="noopener" target="_blank" href="//pollyvote.com/en/components/index-models/issue-index">
						Issue-index
						</a>
					</td>
					<td class="linecharttablevalues">
					{{issueIndexClintonForecast}}
					</td>
					<td class="linecharttablevalues">
					{{issueIndexTrumpForecast}} 
					</td>
				</tr>
		</tr>
		</tr>
		

		<tr  class='lineCharttableRow'>
		<td>
		<span ng-click="expandedaggregators = !expandedaggregators" expand>+</span>
		<input type="checkbox" ng-model="aggregators" ng-change="intenpollsOnclick()" class='checkbox'>
		<a rel= "noopner" target="_blank" href="//pollyvote.com/en/components/polls/">
		Poll aggregators
		</a>
		</td>
		<td class="linecharttablevalues">{{pollaggrClintonForcast}}</td>
		<td class="linecharttablevalues">{{pollaggrTrumpForcast}}</td>
		</tr>
		<tr  class="linecharttablesubheading" >
		<tr ng-show="expandedaggregators"> 
					<td class="linechartcomponentHeading">
					<input type="checkbox" ng-model="tpmPolls" ng-change="tpmOnclick()" class='checkbox'>
						<a rel= "noopner" target="_blank" href="//pollyvote.com/en/components/polls/tpm/" >TPM Poll Tracker</a>
					</td>
					<td class="linecharttablevalues">
					{{clintonTPMForcast}} 
					</td>
					<td class="linecharttablevalues">
					{{TrumpTPMForcast}}
					</td>
				</tr>
				

				<tr ng-show="expandedaggregators">
					<td class="linechartcomponentHeading">
					<input type="checkbox" ng-model="huffingstonPolls" ng-change="huffingstonPollsOnclick()" class='checkbox'>
						<a rel= "noopner" target="_blank" href="//pollyvote.com/en/components/polls/huffpost-pollster/" >HuffPost Pollster</a>
					</td>
					<td class="linecharttablevalues">
					{{clintonhuffingstonForcast}} 
					</td>
					<td class="linecharttablevalues">
					{{TrumphussingstonForcast}}
					</td>
				</tr>

				<tr  ng-show="expandedaggregators">
					<td class="linechartcomponentHeading">
					<input type="checkbox" ng-model="electionProjection" ng-change="electionProjectionOnclick()" class='checkbox'>
						<a rel= "noopner" target="_blank" href="//pollyvote.com/en/components/polls/election-projection/" >
						Election Projection
						</a>
					</td>
					<td class="linecharttablevalues">
					{{clintonelectionProjectionForecast}} 
					</td>
					<td class="linecharttablevalues">
					{{trumpelectionProjectionForecast}}
					</td>
				</tr>

				<tr ng-show="expandedaggregators">
					<td class="linechartcomponentHeading">
					<input type="checkbox" ng-model="pluspolls" ng-change="pluspollsOnclick()" class='checkbox'>
						<a rel= "noopner" target="_blank" href="//pollyvote.com/en/components/polls/538-polls-plus/" >
						538 (polls-only)
						</a>
					</td>
					<td class="linecharttablevalues">
					{{clinton538Forcast}} 
					</td>
					<td class="linecharttablevalues">
					{{Trump538Forcast}} 
					</td>
				</tr>

				<tr  ng-show="expandedaggregators">
					<td class="linechartcomponentHeading">
					<input type="checkbox" ng-model="twoSeventytoWin" ng-change="twoSeventytoWinOnclick()" class='checkbox'>
						<a rel= "noopner" target="_blank" href="//pollyvote.com/en/components/polls/270-to-win/" >
						270 to win
					</td>
					<td class="linecharttablevalues">
					{{clintonTwoSeventyForcast}} 
					</td>
					<td class="linecharttablevalues">
					{{trumpTwoSeventyForcast}} 
					</td>
				</tr>

				<tr  ng-show="expandedaggregators">
					<td class="linechartcomponentHeading">
					<input type="checkbox" ng-model="Real" ng-change="RealOnclick()" class='checkbox'>
						<a rel= "noopner" target="_blank" href="//pollyvote.com/en/components/polls/RealClearPolitics/" >
						RealClearPolitics
						</a>
					</td>
					<td class="linecharttablevalues">
					{{clintonRealClearPoliticsForcast}} 
					</td>
					<td class="linecharttablevalues">
					{{TrumpRealClearPoliticsForcast}} 
					</td>
				</tr>

				<tr ng-show="expandedaggregators">
					<td class="linechartcomponentHeading">
					<input type="checkbox" ng-model="pec" ng-change="pecOnclick()" class='checkbox'>
						<a rel= "noopner" target="_blank" href="//pollyvote.com/en/components/polls/pec/" >
						PEC
						</a>
					</td>
					<td class="linecharttablevalues">
					{{pecclintonForecast}} 
					</td>
					<td class="linecharttablevalues">
					{{pecTrumpForecast}} 
					</td>
				</tr>
        </tr>

		<tr  class='lineCharttableRow'>
		<td>
		<span ng-click="expandedExpert = !expandedExpert" expand>+</span>
		<input type="checkbox" ng-model="expert" ng-change="expertOnclick()" class='checkbox'>
		<a  rel="noopener" target="_blank" href="//pollyvote.com/en/components/expert-judgment/">
		Expert judgment
		</a>		
		</td>
		<td class="linecharttablevalues">{{expertClintonForcast}}</td>
		<td class="linecharttablevalues">{{expertTrumpForcast}}</td>
		<tr  class="linecharttablesubheading">
		<tr ng-show="expandedExpert">
					<td class="linechartcomponentHeading">
					<input type="checkbox" ng-model="subcomponent" ng-change="esubcom()" class='checkbox'>
						<a rel="noopener" target="_blank" href="//pollyvote.com/en/components/expert-judgment/">PollyVote.com Expert Panel</a>
					</td>
					<td class="linecharttablevalues">
					{{expertPollyvoteClintonForecast }}
					</td>
					<td class="linecharttablevalues">
					{{expertPollyvoteTrumoForecast}} 
					</td>
				</tr>
			
				</tr>
			
		</tr>


		<tr  class='lineCharttableRow' close-others="oneAtATime">
		<td>
		<span ng-click="expandedCitizen = !expandedCitizen" expand>+</span>
		<input type="checkbox" ng-model="citizen" ng-change="citizenOnclick()" class='checkbox'>
		<a rel="noopener" target="_blank" href="//pollyvote.com/en/components/citizen-forecasts/" >
		Citizen forecasts</a>
		</td>
		<td class="linecharttablevalues">{{citizenClintonForcast}}</td>
		<td class="linecharttablevalues">{{citizentrumpForcast}}</td>
		
		<tr class="linecharttablesubheading">
		<tr  ng-show="expandedCitizen">
					<td class="linechartcomponentHeading">
					<input type="checkbox" ng-model="Quinnipiac" ng-change="QuinnipiacOnclick()" class='checkbox'>
					
						Quinnipiac University
	
					</td>
					<td class="linecharttablevalues">
					{{QuinnipiacDataClintonForecast}}
					</td>
					<td class="linecharttablevalues">
					{{QuinnipiacDataTrumoForecast}}
					</td>
				</tr>

				<tr  ng-show="expandedCitizen">
					<td class="linechartcomponentHeading">
					<input type="checkbox" ng-model="economist" ng-change="economistOnclick()" class='checkbox'>
						Economist / YouGov
					</td>
					<td class="linecharttablevalues">
					{{economistClintonForecast}}
					</td>
					<td class="linecharttablevalues">
					{{economistTrumoForecast}} 
					</td>
				</tr>

				<tr  ng-show="expandedCitizen">
					<td class="linechartcomponentHeading">
					<input type="checkbox" ng-model="usaToday" ng-change="usaTodayOnclick()" class='checkbox'>
						Suffolk University/USA Today
					</td>
					<td class="linecharttablevalues">
					 {{usatodayClintonForecast}}
					</td>
					<td class="linecharttablevalues">
					 {{usaTodayTrumoForecast}}
					</td>
				</tr>
				
				
				</tr>
			
		</tr>


			<tr  class='lineCharttableRow'>
		<td>
		<span ng-click="expandedmarkets = !expandedmarkets" expand>+</span>
		<input type="checkbox" ng-model="markets" ng-change="pmOnclick()" class='checkbox'>
		<a rel="noopner" target="_blank" href="//pollyvote.com/en/components/prediction-markets/">Prediction markets</a>
		</td>
		<td class="linecharttablevalues">{{predictionMarketClintonForcast}}</td>
		<td class="linecharttablevalues">{{predictionMarketTrumpForcast}}</td>
		<tr  class="linecharttablesubheading" >
		<tr ng-show="expandedmarkets">
					<td class="linechartcomponentHeading">
					<input type="checkbox" ng-model="iem" ng-change="iemOnclick()" class='checkbox'>
						IEM (vote-share)
					</td>
					<td class="linecharttablevalues">
					{{iemClintonForecast}} 
					</td>
					<td class="linecharttablevalues">
					{{iemTrumpForecast}} 
					</td>
				</tr>

			</tr>	
				
		</tr>			
		


	



			<tr  class='lineCharttableRow'>
		<td>
		<span ng-click="expandedmodels = !expandedmodels" expand>+</span>
		<input type="checkbox" ng-model="models" ng-change="econoOnclick()" class='checkbox'>
		<a rel='noopner' target="_blank" href="//pollyvote.com/en/components/econometric-models/">
		Econometric models</a>
		</td>
		<td class="linecharttablevalues">{{econometricClintonForcast}}</td>
		<td class="linecharttablevalues">{{econometricTrumpForcast}}</td>
		<tr  class="linecharttablesubheading" ng-show="expandedmodels">
					<td class="linechartcomponentHeading">
		            <input type="checkbox" ng-model="vox" ng-change="voxOnclick()" class='checkbox'>
		            <a rel='noopner' target="_blank" href="//www.vox.com/a/trump-tax">
						Vox.com
					</a>
					</td>
					<td class="linecharttablevalues">
					{{voxClintonForecast}} 
					</td>
					<td class="linecharttablevalues">
					{{voxTrumpForecast}}
					</td>
				</tr>

				<tr  class="linecharttablesubheading" ng-show="expandedmodels">
					<td class="linechartcomponentHeading">
					<input type="checkbox" ng-model="tfc" ng-change="tfcOnclick()" class='checkbox'>
					<a rel='noopner' target="_blank" href="//pollyvote.com/en/components/econometric-models/time-for-change-model/">
						Time-for-change
					</a>
					</td>
					<td  class="linecharttablevalues">
					{{tfcClintonForecast}} 
					</td>
					<td class="linecharttablevalues">
					{{tfcTrumpForecast}}
					</td>
				</tr>

				<tr  class="linecharttablesubheading" ng-show="expandedmodels">
					<td class="linechartcomponentHeading">
					<input type="checkbox" ng-model="primary" ng-change="primaryOnclick()" class='checkbox'>
					<a rel='noopner' target="_blank" href="//pollyvote.com/en/components/econometric-models/primary-model/">
						Primary
						</a>
					</td>
					<td class="linecharttablevalues">
					{{primaryClintonForecast}} 
					</td>
					<td class="linecharttablevalues">
					{{primaryTrumpForecast}} 
					</td>
				</tr>

				<tr  class="linecharttablesubheading" ng-show="expandedmodels">
					<td class="linechartcomponentHeading">
					<input type="checkbox" ng-model="lockerbie" ng-change="lockerbieOnclick()" class='checkbox'>
					<a rel='noopner' target="_blank" href="//www.centerforpolitics.org/crystalball/articles/the-political-science-election-forecasts-of-the-2016-presidential-and-congressional-elections-part-2/">
						Lockerbie
						</a>

					</td>
					<td class="linecharttablevalues">
					 {{lockerbieClintonForecast}} 
					</td>
					<td class="linecharttablevalues">
					{{lockerbieTrumpForecast}} 
					</td>
				</tr>

				<tr  class="linecharttablesubheading" ng-show="expandedmodels">
					<td class="linechartcomponentHeading">
					<input type="checkbox" ng-model="tien" ng-change="tienOnclick()" class='checkbox'>
					<a rel='noopner' target="_blank" href="//pollyvote.com/en/components/econometric-models/lewis-beck-tien/">
						Lewis-Beck & Tien
					</a>
					</td>
					<td class="linecharttablevalues">
					 {{tienClintonForecast}}
					</td>
					<td class="linecharttablevalues">
					{{tienTrumpForecast}}
					</td>
				</tr>

				<tr  class="linecharttablesubheading" ng-show="expandedmodels">
					<td class="linechartcomponentHeading">
					<input type="checkbox" ng-model="indicators" ng-change="indicatorsOnclick()" class='checkbox'>
					<a rel='noopner' target="_blank" href="//pollyvote.com/en">
						Leading indicators
						</a>
					</td>
					<td class="linecharttablevalues">
					{{indicatorsClintonForecast}} 
					</td>
					<td class="linecharttablevalues">
					{{indicatorsTrumpForecast}}
					</td>
				</tr>

				<tr  class="linecharttablesubheading" ng-show="expandedmodels">
					<td class="linechartcomponentHeading">
					<input type="checkbox" ng-model="jerome" ng-change="jeromeOnclick()" class='checkbox'>
					<a rel='noopner' target="_blank" href="//pollyvote.com/en/components/econometric-models/jerome-jerome/">
						Jérôme & Jérôme
						</a>
					</td>
					<td class="linecharttablevalues">
					{{jeromeClintonForecast}} 
					</td>
					<td class="linecharttablevalues">
					{{jeromeTrumpForecast}}
					</td>
				</tr>

				<tr  class="linecharttablesubheading" ng-show="expandedmodels">
					<td class="linechartcomponentHeading">
					<input type="checkbox" ng-model="desar" ng-change="desarOnclick()" class='checkbox'>
					<a rel='noopner' target="_blank" href="//research.uvu.edu/DeSart/forecasting/">
						Holbrook & DeSart
					</a>
					</td>
					<td class="linecharttablevalues">
					{{desarClintonForecast}}
					</td>
					<td class="linecharttablevalues">
					{{desarTrumpForecast}} 
					</td>
				</tr>

				<tr  class="linecharttablesubheading" ng-show="expandedmodels">
					<td class="linechartcomponentHeading">
					<input type="checkbox" ng-model="heat" ng-change="heatOnclick()" class='checkbox'>
					<a rel='noopner' target="_blank" href="//pollyvote.com/en/components/econometric-models/trial-heat-model/">
						Trial-heat
						</a>
					</td>
					<td class="linecharttablevalues">
					{{heatClintonForecast}} 
					</td>
					<td class="linecharttablevalues">
					{{heatTrumpForecast}}
					</td>
				</tr>
				
				<tr  class="linecharttablesubheading" ng-show="expandedmodels">
					<td class="linechartcomponentHeading">
					<input type="checkbox" ng-model="fair" ng-change="fairOnclick()" class='checkbox'>
					<a rel='noopner' target="_blank" href="//pollyvote.com/en/components/econometric-models/fair-model/">
						Fair
						</a>
					</td>
					<td class="linecharttablevalues">
					{{fairClintonForecast}} 
					</td>
					<td class="linecharttablevalues">
					{{fairTrumpForecast}} 
					</td>
				</tr>

				<tr  class="linecharttablesubheading" ng-show="expandedmodels">
					<td class="linechartcomponentHeading">
					<input type="checkbox" ng-model="electoralcycle" ng-change="electoralcycleOnclick()" class='checkbox'>
					<a rel='noopner' target="_blank" href="//pollyvote.com/en/components/econometric-models/electoral-cycle-model/">
						Electoral-cycle
						</a>
					</td>
					<td class="linecharttablevalues">
					{{electoralcycleClintonForecast}} 
					</td>
					<td class="linecharttablevalues">
					{{electoralcycleTrumpForecast}}
					</td>
				</tr>

				<tr  class="linecharttablesubheading" ng-show="expandedmodels">
					<td class="linechartcomponentHeading">
					<input type="checkbox" ng-model="desart" ng-change="desartOnclick()" class='checkbox'>
					<a rel='noopner' target="_blank" href="//research.uvu.edu/DeSart/forecasting/LongRange/">
						DeSart
						</a>
					</td>
					<td class="linecharttablevalues">
					{{desartClintonForecast}}
					</td>
					<td class="linecharttablevalues">
					{{desartTrumpForecast}} 
					</td>
				</tr>

				<tr  class="linecharttablesubheading" ng-show="expandedmodels">
					<td class="linechartcomponentHeading">
					<input type="checkbox" ng-model="bump" ng-change="bumpOnclick()" class='checkbox'>
					<a rel='noopner' target="_blank" href="//pollyvote.com/en/components/econometric-models/convention-bump-model/">
						Convention bump
						</a>
					</td>
					<td class="linecharttablevalues">
					{{bumpClintonForecast}} 
					</td>
					<td class="linecharttablevalues">
					{{bumpTrumpForecast}} 
					</td>
				</tr>

				<tr  class="linecharttablesubheading" ng-show="expandedmodels">
					<td class="linechartcomponentHeading">
					<input type="checkbox" ng-model="pollsPlus" ng-change="pollsPlusOnclick()" class='checkbox'>
					<a rel='noopner' target="_blank" href="//projects.fivethirtyeight.com/2016-election-forecast/?ex_cid=rrpromo#plus">
						538 (polls-plus)
						</a>
					</td>
					<td class="linecharttablevalues">
					{{pollsPlusClintonForecast}} 
					</td>
					<td class="linecharttablevalues">
					{{pollsPlusTrumpForecast}} 
					</td>
				</tr>

				<tr  class="linecharttablesubheading" ng-show="expandedmodels">
					<td class="linechartcomponentHeading">
					<input type="checkbox" ng-model="fiscalModel" ng-change="fiscalModelOnclick()" class='checkbox'>
					<a rel='noopner' target="_blank" href="//pollyvote.com/wp-content/uploads/2016/08/FISCAL-MODEL-FORECAST-FOR-2016-AMERICAN-PRESIDENTIAL-ELECTION.pdf">
						Fiscal model
					</a>
					</td>
					<td class="linecharttablevalues">
					{{fiscalModelClintonForecast}}
					</td>
					<td class="linecharttablevalues">
					{{fiscalModelTrumpForecast}} 
					</td>
				</tr>

				<tr  class="linecharttablesubheading" ng-show="expandedmodels">
					<td class="linechartcomponentHeading">
					<input type="checkbox" ng-model="holbrook" ng-change="holbrookOnclick()" class='checkbox'>
					<a rel='noopner' target="_blank" href="//pollyvote.com/en/components/econometric-models/holbrook/">
						Holbrook
						</a>
					</td>
					<td class="linecharttablevalues">
					{{holbrookClintonForecast}} 
					</td>
					<td class="linecharttablevalues">
					{{holbrookTrumpForecast}} 
					</td>
				</tr>
				
				
				</tr>
			
			
		</tr>
	</tbody>
</table>
</div>


<!-- footer -->
 <div class='footer col-xs-12'> 
 <div class='pull-left'>
 <a href="http://pollyvote.com/en/about/data/" target="_blank"> <img class='footerLogo' src="assets/images/chartFooterLogo.png" width="15%">PollyVote
  </a>
 
 <p style='color:grey; font-size: 0.7em; vertical-align: baseline; padding:0;'>
  For more charts head to <a href="http://charts.pollyvote.com/" target='_blank'>charts.pollyvote.com</a>
 </p>
 </div>


<!-- socialshare -->

<div class='shareButtons pull-right'>
<a class="btn-embed shareButtonImage" data-toggle="modal" data-target="#myModal">EMBED</a>


<a
id='twitter'
socialshare
socialshare-provider="twitter"
socialshare-text="Do you want to be a prediction data detective? Take a look at @PollyVote and its components. #ddj #2016election https://goo.gl/VTz1N0"
socialshare-hashtags="#ddj #2016election"
socialshare-url="//charts.pollyvote.com/linechartwithalloptions">
<img class='shareButtonImage' src="assets/images/twitterLogo.png">
</a>

<a
id='facebook'
socialshare
socialshare-provider="facebook"
socialshare-type="feed"
socialshare-media="http://gfx.pollyvote.com/assets/images/facebookShareImage.png"
socialshare-text="PollyVote Prediction Chart"
socialshare-description="As of {{dateWithyear}}, @PollyVote predicts the Democrats to garner {{democrates}}  of the two-party popular vote and and Republicans to garner {{repulicans}}  of the two-party popular vote."
socialshare-hashtags="PollyVote, US-Elections"
socialshare-url="//charts.pollyvote.com/linechartwithalloptions"
socialshare-caption="Updated daily">
<img class='shareButtonImage' src="assets/images/facebookLogo.png">
</a>
</div>


 </div>

  <script>
  $(".btn-embed").click(function(){
    $(".Stage-popup").hide();
     $(".Stage-popup-embed").show();
    });
    $('.Stage-popup .popup-close-btn').click(function() { $('.Stage-popup').hide(); });
</script>


