<script src="http://d3js.org/topojson.v1.min.js"></script>
<script src="http://d3js.org/queue.v1.min.js"></script>
<div class="container-fluid">

<div class="page-header">

<div class='pull-right languageButtons'>
  <button id="deButton" ng-click="changeLanguage('de')" translate="DE"  ui-sref="german"></button>
  <button id="enButton" ng-click="changeLanguage('en')" translate="EN"  ui-sref="english"></button>
</div>


  <h1 class='pageHeading col-xs-12'>
  {{ 'TITLE' | translate }}<span class="numbersHeader">2016</span></h1>
  <p class='headerDiscription'>{{ 'titleDiscription' | translate }}</p>

</div>



<div class="chartRowOdd" id='cardsRow'>
<div class="row">
 <div class="col-lg-2 col-md-2 col-md-offset-1 col-xs-6 thumb">
  <a class="thumbnail" href="#" scroll-to="chart-1"  easing="easeInQuint" duration="800">
  <div class="desc">
            <p class="desc_content image_title">{{ 'cardTitleOne' | translate }}</p>
        </div>
   <img class="img-responsive" src="assets/images/Image_Mirrored_Graph_3.png" />
   </a>
 </div>
 <div class="col-lg-2 col-md-2 col-xs-6 thumb">
  <a class="thumbnail" href="#"  scroll-to="chart-2"  easing="easeInQuint" duration="800">
  <div class="desc">
            <p class="desc_content image_title">{{ 'chartTwoHeading' | translate }}</p>
        </div>
   <img class="img-responsive" src="assets/images/Image_Map_new size.png" />
   </a>
 </div>

 <div class="col-md-2 col-xs-6 thumb">
  <a class="thumbnail" href="#" scroll-to="chart-3"  easing="easeInQuint" duration="800">
  <div class="desc">
            <p class="desc_content image_title">{{ 'chart2Heading' | translate }}</p>
        </div>
   <img class="img-responsive" src="assets/images/Image_PollyVoteinAction_new size.png" />
   </a>
 </div>
 <div class="col-lg-2 col-md-2 col-xs-6 thumb"  scroll-to="chart-5"  easing="easeInQuint" duration="800">
  <a class="thumbnail" href="#">
   <div class="desc">
            <p class="desc_content image_title">{{ 'chartFourHeading' | translate }}</p>
        </div>
   <img class="img-responsive" src="assets/images/Image_RobotText.png" />
   </a>
 </div>
 <div class="col-lg-2 col-md-2 col-xs-6 thumb">
  <a class="thumbnail" href="#" scroll-to="chart-6"  easing="easeInQuint" duration="800">
   <div class="desc">
            <p class="desc_content image_title">{{ 'chartFiveHeading' | translate }}</p>
        </div>
   <img class="img-responsive" src="assets/images/Image_About us.png" />
   </a>
 </div>
</div>


</div>

<div class="chartContainer">
<div class='shareButtons pull-right' style='padding-right: 3%; padding-top:2%;'>
<a
id='twitter'
socialshare
socialshare-provider="twitter"
socialshare-text="{{ 'twitterTextLineChart' | translate }}
#{{ 'democrats' | translate }}   {{democrats}}%
#{{ 'republicans' | translate }}  {{republicans}}%"
socialshare-hashtags=""
socialshare-url="http://charts.pollyvote.com"
socialshare-trigger="click">
<img class='shareButtonImage' src="assets/images/twitterLogo.png"></a>

<a
id='facebook'
socialshare
socialshare-provider="facebook"
socialshare-type="feed"
socialshare-media="http://gfx.pollyvote.com/assets/images/facebookShareImage.png"
socialshare-text="{{heading}}"
socialshare-description="{{ 'twitterTextLineChart' | translate }}
#{{ 'democrats' | translate }}   {{democrats}}%
#{{ 'republicans' | translate }} {{republicans}}%"
socialshare-hashtags=" "
socialshare-url="http://charts.pollyvote.com"
socialshare-caption="{{ 'updatedDaily' | translate }}"
socialshare-trigger="click">
<img class='shareButtonImage' src="assets/images/facebookLogo.png"></a>

<a class="btn-embed" >{{ 'embed' | translate }}</a>
<div class="Stage-popup Stage-popup-embed">
            <div class="popup-body">
                <a class="popup-close-btn">✕</a>
                <h2 class='embedHeading'>{{ 'embed' | translate }}</h2>
                <p>{{ 'embedText' | translate }}</p>
                <textarea class="embed-code">
<iframe width="100%" height="450px" src="https://goo.gl/bdIbNb" frameborder="0" allowfullscreen></iframe>
                </textarea>
            </div>
        </div></a>
</div>
<div class ='chartRowEven col-xs-12' id='chart-1' style='padding-top:1%; padding-bottom:1%;'>

<h2 class='leadText'>{{heading}}</h2>

        <div class="col-xs-3 textPanel" id= "textChart1">
        <p class="paragraph">{{lastCandidate}}</p>
        <p class='footerDate'>{{ 'latestPrediction' | translate }} ({{prefixDate| translate }}{{ latestDate | date}}; {{ 'updatedDaily' | translate }})</p>
        <div>
        <li style="list-style: none;">
        <p class='numbers' id='democrates'>
        {{ 'democrats' | translate }}
        <span class='values'>{{democrats}}%</span></p>
        </li>
        <li style="list-style: none;">
        <p class='numbers' id='republicans'>
        {{ 'republicans' | translate }}
        <span class='values'>{{republicans}}%</span></p>
        </li>
        </div>
        </div>




        <!--smallscreen-->

        <div class="col-xs-12" id= "textChart1Small">
        <p class="paragraph">{{lastCandidate}}</p>
        <p>Latest prediction ( {{prefixDate| translate }}{{ lastitemDate | date:'mediumDate' }}; {{ 'updatedDaily' | translate }}</p>
        <div>
        <ul class="list-inline">
        <li style="list-style: none;">
        <p class='numbersSmall' id='democrates'>{{ 'democrats' | translate }} <span class='values'>{{democrats}}%</span></p>
        </li>
        <li style="list-style: none;">
        <p class='numbersSmall' id='republicans'>
        {{ 'republicans' | translate }} <span class='values'>{{republicans}}%</span></p>
        </li>
        </ul>
        </div>
        </div>


        <div class='checkBoxDiv'>
        <label class='label--checkbox' id='checkbox_1'>
        <input type="checkbox" ng-model="thirtyDay" ng-change="changeAxis1()" class='checkbox'>
        <span class='checkboxLabelText'>
          {{ 'checkBoxText30day' | translate }}
        </span>
        </label>
        <label class='label--checkbox' id='checkbox_2'>
        <input type="checkbox" ng-model="wholeTimeline" ng-change="changeAxis2()" class='checkbox'>
        <span class='checkboxLabelText'>
          {{ 'checkBoxTextWholeTimeline' | translate }}
        </span>
        </label>

         </div>
        <div class="col-xs-9 chartDiv" >
        <div id= "lineChart"></div>
        </div>
        <div class='chartFooter pull-right'>
        <a href="http://pollyvote.com/en/about/data/" target="_blank">
        <span class='source'>{{ 'chartSource' | translate }}</span> PollyVote
        <img class='footerLogo' src="assets/images/chartFooterLogo.png" width="15%">
        </a>
         </div>
         <p style='padding-right: 50%;'class='embeddingText'>
         {{ 'greyTextForChart' | translate }}<a href="http://pollyvote.com/en/news/" target="_blank"> PollyVote Blog </a>
               </p>
         </div>


<div class="col-xs-12 chartRowOdd"  id= "chart-2">
      <globe data="data" type="detaliedMap"></globe>
      </div>

<div class="col-xs-12 historyTable">
<div class ='chartRowOdd col-xs-12' id= "chart-3">
<div class='shareButtons pull-right'>
<a
id='twitter'
socialshare
socialshare-provider="twitter"
socialshare-text="{{ 'historyChartText' | translate }}"
socialshare-hashtags=" "
socialshare-url="http://charts.pollyvote.com"
socialshare-trigger="click">
<img class='shareButtonImage' src="assets/images/twitterLogo.png"></a>

<a
id='facebook'
socialshare
socialshare-provider="facebook"
socialshare-type="feed"
socialshare-media="http://gfx.pollyvote.com/assets/images/historyChartSocialShare.png"
socialshare-text="{{ 'historyChartText' | translate }}"
socialshare-hashtags="PollyVote, US-Elections"
socialshare-url="http://charts.pollyvote.com"
socialshare-trigger="click">
<img class='shareButtonImage' src="assets/images/facebookLogo.png"></a>

<a class="btn-embed02" >{{ 'embed' | translate }}</a>
<div class="Stage-popup02 Stage-popup-embed02">
            <div class="popup-body">
                <a class="popup-close-btn02">✕</a>
                <h2 class='embedHeading'>{{ 'embed' | translate }}</h2>
                <p>{{ 'embedText' | translate }}</p>
                <textarea class="embed-code02">
<iframe width="100%"  height="550" src="http://charts.pollyvote.com/historyTable" frameborder="0" allowfullscreen></iframe>
                </textarea>
            </div>
        </div></a>
</div>



<div class='chartHeader' id="shareableHistory" >
<h2>{{ 'chart2Heading' | translate }}</h2>
<div class='col-xs-6 paragraph'>
 <p style='padding-bottom: 2%;'>
   {{ 'chart2Discription' | translate }}
 </p>
 </div>
 </div>

  <table  class="table table-hover">
  <thead class='tableHeader'>
  <tr>

     <th>{{ 'year' | translate }}</th>
    <th>{{'winner'| translate}}</th>
    <th class="bolderHeader">{{'actResult'| translate}}</th>
    <th>{{'finalFore'| translate}}</th>
    <th>{{'oneMonth'| translate}}</th>
    <th>{{'threeMonth'| translate}}</th>
 </tr>
    </thead>

  <tbody>

  <tr class='firstRow'>
  <td class="normalRow"> 2012</td>
    <td class="normalRow"><img class='image' src="assets/images/Obama.jpg"></td>
    <td class="bolderRow">{{52.0| number:1}}%</td>
    <td class="normalRow">{{51.3| number:1}}%
    <span class='diffrenceText'>{{ 'predictionError' | translate }} -{{0.7| number:1}}</span>
    </td>
    <td class="normalRow">{{52.1| number:1}}%
       <span class='diffrenceText'>{{ 'predictionError' | translate }} +{{0.1| number:1}}</span>
    </td>

    <td class="normalRow">{{52.4| number:1}}%
    <span class='diffrenceText'>{{ 'predictionError' | translate }} +{{0.4| number:1}}</span>
    </td>
  </tr>
  <tr>
<td class="normalRow">2008</td>
    <td class="normalRow"><img class='image'src="assets/images/Obama.jpg"></td>
    <td class="bolderRow">{{53.7| number:1}}%</td>
    <td class="normalRow">{{53.9| number:1}}%
    <span class='diffrenceText rwd-break'>{{ 'predictionError' | translate }} +{{0.2| number:1}}</span>
    </td>
    <td class="normalRow">{{52.8| number:1}}%
    <span class='diffrenceText'>{{ 'predictionError' | translate }} −{{0.9| number:1}}</span>
    </td>
    <td class="normalRow">{{52.7| number:1}}%
    <span class='diffrenceText'>{{ 'predictionError' | translate }} -{{1.0| number:1}}</span>
    </td>
  </tr>
  <tr>
  <td class="normalRow">2004</td>
    <td class="normalRow"><img class='image' src="assets/images/Bush.jpg"></td>
    <td class="bolderRow">{{51.2| number:1}}%
    </td>
    <td class="normalRow">{{51.5| number:1}}%
    <span class='diffrenceText'>{{ 'predictionError' | translate }} +{{ 0.3 | number}}</span>
    </td>
    <td class="normalRow">{{52.1| number:1}}%
      <span class='diffrenceText'>{{ 'predictionError' | translate }} +{{ 0.9 | number}}</span>
    </td>
    <td class="normalRow">{{50.3| number:1}}%
    <span class='diffrenceText'>{{ 'predictionError' | translate }} -{{ 0.9 | number}}</span>
    </td>
  </tr>
  </tbody>
</table>
 <div class='chartFooter'> <div class='pull-right '><a href="http://pollyvote.com/en/about/data/" target="_blank"><span class='source'>{{ 'chartSource' | translate }}</span> PollyVote<img class='footerLogo' src="assets/images/chartFooterLogo.png" width="15%"></div></a>
        </div>
</div>
</div>
    </div>


    <div class="col-xs-12 chartRowEven"  style='border-bottom: 1px solid #ddd;' id= "chart-5">
     <h2>{{ 'chartThreeHeading' | translate }}</h2>
     <div class='col-xs-6 paragraph'>
        <p>{{ 'chartThreeDiscription' | translate }}</p>

       <div class='footerInput'>
       <!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; }
  #mc_embed_signup .button {
  display: inline-block;
  margin: 0 5px;
  border-radius: 6px;
  font-size: 1em;
  border: 0;
  background-color: #2c3e50;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  outline: 0;
  box-shadow: #BDC3C7 2px 2px 0px;}

  #mc_embed_signup .button:hover {
  background: #0aa8f1;
}
#mc_embed_signup .button:active {
  box-shadow: #BDC3C7 0.5px 0.5px 0px;
}
#mc_embed_signup form{
padding: 0;
}

  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
}
}
</style>
<div id="mc_embed_signup">
<form action="//pollyvote.us13.list-manage.com/subscribe/post?u=d371a3ed15e1c7daa73a2430b&amp;id=c18212f4fe" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
  <label for="mce-EMAIL">{{ 'subsText' | translate }}</label>
  <input type="email" value=" " name="EMAIL" class="email" id="mce-EMAIL" placeholder="{{ 'emailAdd' | translate }}" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d371a3ed15e1c7daa73a2430b_c18212f4fe" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="{{ 'Subscribe' | translate }}" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
       </div>
       </div>
    </div>
    </div>

       </div>
    </div>
    <div class="col-xs-12 chartRowOdd" id='chart-6' >
    <div class='col-xs-9 paragraphAbout'>
    <img src="assets/images/pollyVote.png" style=' display: block;
    margin: auto;
    text-align: center;
    width: 150px;' >
    <h2 class='aboutSectionHeading'>{{ 'aboutSectionHeading' | translate }}</h2>

    <p class='aboutSectionDiscription'>{{ 'aboutSectionDiscription' | translate }} <a href='http://pollyvote.com/en/' target="_blank">
    {{ 'website' | translate }}
    </a></p>
     </div>
</div>
    <p class="text-muted pull-right">Copyright: PollyVote & MIT-License</p>

<ul>
  <li style='display: block;
    margin: auto;
    text-align: center; padding-left: 18%;'><a href="#" title="Scroll to top" onclick="$('html,body').animate({scrollTop:0},'slow');return false;"><i class="top glyphicon glyphicon-chevron-up"></i></a></li>
</ul>

</div>

<script>
  $(".btn-embed").click(function(){
    $(".Stage-popup").hide();
     $(".Stage-popup-embed").show();
    });
    $('.Stage-popup .popup-close-btn').click(function() { $('.Stage-popup').hide(); });
    //second chart
    $(".btn-embed02").click(function(){
    $(".Stage-popup02").hide();
     $(".Stage-popup-embed02").show();
    });
    $('.Stage-popup02 .popup-close-btn02').click(function() { $('.Stage-popup02').hide(); });

    //remove div
</script>
