@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700,700italic,900,900italic);
@import url(//fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body{
  width: 100%;
    height: 100%;
    font-family: Merriweather, Georgia, serif;
    font-size: 16px;
    color: #333;
    letter-spacing: -.004em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-overflow: ellipsis;
}
.chartBody{
  width: 100%;
    height: 100%;
}
.container-fluid{
padding: 0px;
}

.languageButtons{
  padding-right: 2%;
}
#deButton, #enButton{
  background: none;
  color: #2c3e50;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
#highcharts-2 > div > span > h5 > #clinton{
  color: #2980b9;
}
#trump{
  color: #e74c3c;
}
#deButton:active, #enButton:active{
  background: #2c3e50;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
}

#deButton:hover, #enButton:hover{
  background: #2c3e50;
  color: #fff;
  font-weight: bold;
}
#loading-bar-container{
  font-size: 2em;
  padding-left: 40%;
  color: #004559;
}

p{
  line-height: 25px;
}

.lineChartTableBody{
  text-align: left;
  font-size: 1em;
}

.lineCharttableRow td{
  font-size: 1em;
  text-align: left;
}
.lineCharttableRow td a{
  color: #000;
}
.linecharttablesubheading td{
  text-align: left;
  font-size: 1em;

}
.linechartcomponentHeading{
  padding-left: 5%;
}
.linecharttablevalues{
  text-align: center;
  padding-left: 2.5%;
}

.myGrid {
    width: 500px;
    height: 250px;
  }
.page-header{
  text-align: center;
  border-bottom: none;
  padding-bottom: 3%;
  padding-top: 1%;
  margin: 0!important;
  font-family: 'Roboto', sans-serif;
  background-color: #ecf0f1;
  color: #2c3e50;

}
.headerDiscription{
font-size: 1.7em;
line-height: 1.6875em;
text-align: center;
}
.pageHeading{
font-size: 5em;
font-weight: 700;
text-align: center;
margin-top: 20px;

}

a{
  text-decoration: underline;
  cursor: pointer;
}
.chartRowEven {
padding: 3% 3% 3% 3%;
height: 100%;
}
.chartRowEven a{
  color: #2c3e50;
}

.chartRowOdd {
padding: 3% 3%;
height: 100%;
background-color: #2c3e50;
color: #ecf0f1;
}

.chartRowOdd a{
color: #ecf0f1;
}

a:hover{
text-decoration: none;
 color: #0aa8f1;
}



.image_title{
  background-color: #ecf0f1;
  color: #2c3e50;
  font-weight: normal;
  display: inline-block;
  font-size: 1.1875em;
  line-height: 1.875em;
  text-align: center;
  z-index: 1000;
  opacity: 1;
  margin-bottom: 0;
  padding: 4% 4% 4% 3.5%;

}
.image_title:hover{
 color: #2980b9;

}

.shareButtons{
z-index: 1000;
display: inlinek-block;
}
.shareButtonImage{
  border-radius: 5px;
}
.chartContainer{
  margin-top: 3%;
}
.rowHead{
padding-right: 0;
}
.textPanel{
  padding-left: 0;
}
#textChart1Small{
  display: none;
}

.chartHeading{
  font-weight: bold;
  padding-left: 3%;
  padding-bottom: 2%;
}
.chartHeadingEmbeded {
  text-transform: uppercase; 
  font-family: Montserrat, sans-serif; 
  font-size:16px;
}
.chartHeadingEmbeded {

}

#lineChart{
  width: 100%;
  height: 100%;
}
.leadText{
  font-size: 2em;
}
.dateText{
  font-weight: normal;

}

.paragraph{
  padding: 0;
  z.index: 1000;
}

.btn-group{
  padding-top: 2%;
}
.btn-primary .active{
  background-color: #f8f7f6!important;
}
.c3-line {
    stroke-width: 2px;
}
.value{
  font-weight: bold;
}


.c3 text{
fill: #727272;
font-size: 1em;
}

.c3-region.regionX{
  fill: grey;
  font-size: 1em;
}

.c3-region {
    fill-opacity: 1;
}
.c3-ygrid-line{
  stroke-width: 0.5px;
}

.c3 path{
    fill: none;
    stroke: #878787;
}
.c3-tooltip td{
  text-align: left;
}
.tick{
   fill:#727272;
   font-size: 0.8em;
   font-family: roboto;
}
#linechartAlloptionsCheckbox2{
  padding-right: 7%;
}
#linechartAlloptionsCheckbox1{
  padding-left: 5%;
}
.lineCharttableHeader{
  font-weight: bold;

}
#highcharts-2 > svg > path:nth-child(4){
  z-index: 1000;
}


.c3 svg{
  width: 100%;
  height: 100%;
  overflow: visible!important;
}
.c3-tooltip th {
  background-color: #7b979e;
  color: #fff;
}
.c3-tooltip td > span{
  border-radius: 2px;
}

.c3 path{
    stroke: #7b979e;
}
c3 path, .c3 line {
    fill: none;
    stroke: #7b979e;
}

.numbers{
  font-size: 2.0625em;
}

#democrates{
  color: #2980b9;
}
#republicans{
  color: #e74c3c;
}

.values{
  font-family: ubuntu;
}

ul
{
    list-style-type: none;
    margin-bottom: 0;
    margin-top:  2%;
    padding-left: 0;
}
.popup-body{
  border: 1px solid black;
  background-color: #ecf0f1;
  padding: 2% 2% 1%;
  color: #2c3e50;

}
.Stage-popup-embed{
  display:none;
}
.Stage-popup{
  display:none;
  width: 100%;
  height: 100%;
}
.embed-code{
height: 100%;
width:100%;
resize: none;
}
.embed-code02{
color: #2c3e50;
height: 100%;
width: 100%;
}
.popup-close-btn02{
  text-align: right;
  font-size: 1em;
  font-weight: bold;
  padding-right: 2%;
  padding-left: 98%;
}
.popup-body02{
  border: 1px solid black;
  background-color: #ecf0f1;
  padding: 2% 2% 1%;
  color: #2c3e50;

}
.Stage-popup-embed02{
  display:none;
}
.Stage-popup02{
  display:none;
  height: 100%;
  width: 100%;
}
.popup-close-btn{
  text-align: right;
  font-size: 1em;
  font-weight: bold;
  padding-right: 2%;
  padding-left: 98%;
}
.popup-close-btn02{
  text-align: right;
  font-size: 1em;
  font-weight: bold;
  padding-right: 2%;
  padding-left: 98%;
  color: #2c3e50!important;

}
.embedHeading{
margin: 0 0 0 0!important;
font-size: 1.125em;
}
.embeddingText{
color: grey;
padding-left: 0;
padding-top: 1%;
}
.embeddingText a{
color: grey;
}
.embeddingText a:hover{
color: #3498db;
}
.historyTable{
  margin-top: 3%;
  padding-right: 0!important;
  padding-left: 0!important;
}
.tableHeader{
  border-top: 2px solid #ddd;
  font-size: 1.125em;
  text-transform: uppercase;
}
.bolderRow, .bolderHeader {
  font-weight: bolder;
  border-right: 1px solid #ddd;
}
td, th{
  text-align: center;
  border-top: none!important;
  padding: 2 0!important;

}
tr{
  border: none!important;
  text-align: center;

}
tbody{
  font-size: 2.1875em;
  font-family: ubuntu;

}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th{
  color: #2c3e50;
}

.diffrenceText{
text-align: center;
font-size: 0.35em;
color: #fff;
line-height: 0.35em;
display: block;
font-style: italic;
font-family: Merriweather;
}
tr:hover .diffrenceText{
color: #2c3e50;
}
.image{
border-radius: 5px;
height: 2em;
width: 2em;
}
.imageMap{

}


.footerLogo{
vertical-align: baseline;
z-index: 1000;
}
.footerInput{
margin-top: 3%;
}

.rowHeader{
  padding-top: 5%;
}
.table{
margin-bottom: 0;
}

.greyLink{
  color: #ecf0f1;
}


.footerDate{
  padding-top: 10%;
}

.paragraphAbout{
padding-left: 25%;
}
.textInsideChart{
  text-decoration: none;
}
.partyValues{
  font-size: 1.8em;
  margin: 0;
}
.checkBoxDiv{
padding-left: 30%;
vertical-align: baseline;
}
#checkbox_2{
  padding-left: 5%;
}

.label--checkbox {
  cursor: pointer;
  font-size: 1em;

}

.checkbox {
  cursor: pointer;
  display: inline-block;
  margin-right: 1em!important;

}
input[type="checkbox"]:focus{
        outline:0;
    }

.checkbox:before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  z-index: 1;
  width: 1.2em;
  height: 1.2em;
  border: 2px solid #f2f2f2;
  border-radius: 2px;
}
.checkbox:checked:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: 0.7em;
  border: 2px solid #2c3e50;
  border-top-style: none;
  border-right-style: none;
}
.checkbox:after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 1em;
  height: 1em;
  background: #fff;
  cursor: pointer;
  border-radius: 1px;
}
.aboutSectionHeading{
  text-align: center;
}
.aboutSectionDiscription{
  text-align: center;
}
.content {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: slideUp;
  animation-name: slideUp;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(6.25rem);
    transform: translateY(6.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideUp {
  0% {
    -webkit-transform: translateY(6.25rem);
    transform: translateY(6.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.chartHeadline{
  font-size: 1.5em;
}

path {
  stroke-linejoin: round;
}

.land-glow {
  fill-opacity: .2;background-color: #7b979e;
  filter: url(#blur);
}

.land-fill {
  fill: #fff;
}

.state-boundary {
  fill: none;
  stroke: #777;
  stroke-width: .70px;
}

.county-boundary {
  fill: none;
}

.land-fill,
.county-boundary {
  stroke: #777;
  stroke-width: .35px;
}

 #legend {
        padding: 0;
    }

#legend ul {
    margin-left: 0;
}

li.key {
    border-left-width: 2em;
    border-left-style: solid;
    font-size: 1em;
    display: block;

}
.features{
  padding-left: 10%;
}

path {
  cursor: pointer;
}
.mapmain path{
   stroke: #fff;
   stroke-width: 1.2px;
}
.simpleMap path{
  stroke: #e6e6e6;
  stroke-width: 1.5px;
}
.withTooltips path{
  stroke: #e6e6e6;
  stroke-width: 1.5px;
}

.mapTooltip {
  position: absolute;
  background-color: rgba(236, 240, 241, 0.93);
  border: 1px solid #dedede;
  font-weight: bold;
  visibility: hidden;
  display: none;
  padding: 5px;
  z-index: 100;
  font-weight: 300;
}
#legendList{
  margin-bottom: 2%;
}
.legendHeading{
  font-size: 1.5em;
  font-weight: 500;
}
.mapTooltip{
  z-index: 10;
  border-spacing:0;
  background-color:#fff;
  -webkit-box-shadow: 7px 7px 12px -9px rgb(119,119,119);
     -moz-box-shadow: 7px 7px 12px -9px rgb(119,119,119);
          box-shadow: 7px 7px 12px -9px rgb(119,119,119);
  opacity: 0.9;
  padding: 0;
  margin: 0.5%;
  border:1px solid #CCC;
  max-width: 30%;
  font-size: 1.2em;
}
.headerMap{
  background-color: #7b979e;
  color: #fff;
  margin: 0;
  padding: 2%;
  font-size: 1.3em;
}
.elecVote{
  padding: 1% 0 0 2%;
  font-size: 0.9em;
  line-height: 1.5em;
}
#hiddenCheckRep{
  display: none;
}
#hiddenCheckDemo{
   display: none;
}

.boldText{
  font-weight: bold;
}
.pollyBot{
  padding-left: 2%;
  font-size: 0.9em;
  line-height: 1.5em;
}
#bars{
  overflow: visible;
}
#barsyaxis > g > text{
  fill: #ecf0f1;
  font-size: 2em;
  text-anchor: end;
}
#barsyaxis{
  width: 40px;
}
#bars .domain{
  display: none;
}
.barsEndlineText{
  font-size: 30px;
}
.dottedbars{
  padding: 0;
  margin: 0;
  height: 80px;
}
.headingMap{
 margin-left: 15%;
}
.mapDate{
  padding-top: 1%;
  padding-left: 0;
}
.demoNumbers{
  color: #2980b9;
  padding-left: 15%;
  font-size: 3em;
}
.barsHeading{
  text-align: right;
}
.barsText{
display: inline;
}
.neutral{
  color: #f7f7f7;
}
.subtext{
  padding-top: 2%;
  vertical-align: sub;
}
.dottedbars{
  padding-bottom: 10%;
}
#maprepnumbers{
  color: #e74c3c;
  font-size: 3em;
  padding-left: 35%;

}
#republicansMap{
color: #e74c3c;
}
#democratesMap{
  color: #2980b9;
}
.mapDropDown{
padding: 0.5%;
background-color: #fff;
width: 50%;
z-index: 1000;
font-size: 14px;
text-align: left;
background-color: #fff;
border: 1px solid #ccc;
border: 1px solid rgba(0,0,0,0.15);
border-radius: 4px;
box-shadow: 0 6px 12px rgba(0,0,0,0.175);
}

select > option{
  border-radius: 4px;
}
#trumpText, #clintonText{
  padding: 0 2% 0 2%;
}
#trumpText{
  color: #e74c3c;
}
#clintonText{
  color: #2980b9;

}
.barNum{

  padding-bottom: 0;
  margin-bottom: 0;
  font-family: ubuntu;
  padding-top: 10%;
  align: bottom;
}
.barNum > text{
  font-size: 3.8em;

}
.barImage{
  border-radius: 5px;
  height: 4em;
  width: 4em;
}
.rep{
margin-right: 6%;
}
.myLabel{
  fill: #fff;
  font-size: 1em;
}
#bars > g > line{
  stroke: #fff;
}
#barsSimple > g > line{
  stroke: #c0c0c0;
}
#bars > g > text{
  fill: #fff;
  font-size: 1em;
}
td.linechartcomponentHeading > a{
  color: #000;
}

@media only screen and (min-resolution: 117dpi) and (max-resolution: 119dpi), only screen and (min-resolution: 131dpi) and (max-resolution: 133dpi), only screen and (min-resolution: 145dpi) and (max-resolution: 154dpi), only screen and (min-resolution: 162dpi) and (max-resolution: 164dpi), only screen and (min-resolution: 169dpi) {
    #touch_logo {
       display: inherit;
    }
    #mouse_logo {
       display: none;
    }
  /* Your touch-specific css goes here */
}

@media only screen and (min-resolution: 165dpi) and (max-resolution: 168dpi), only screen and (min-resolution: 155dpi) and (max-resolution: 160dpi), only screen and (min-resolution: 134dpi) and (max-resolution: 144dpi), only screen and (min-resolution: 120dpi) and (max-resolution: 130dpi), only screen and (max-resolution: 116dpi) {
    #touch_logo {
       display: none;
    }
    #mouse_logo {
       display: inherit;
    }
  /* Your click-specific css goes here */
}
/* Large screens --  --  --  --  -- - */



@media (max-width: 1000px){
body{
  font-size: 1em;
}
.headerDiscription{
font-size: 1em;
}
#cardsRow{
  display: none;
}
.pageHeading{
font-size: 2em;
}
.checkboxes{
  padding: 0!important;
}
#democrates, #republicans{
  margin: 0!important;
   padding: 0!important;
}


.chartContainer{
  margin-top: 5%;
  padding-left: 0;
  padding-right: 0;
}
#textChart1{
  display: none;
}
#textChart1Small{
  display: inline;
}
.numbersSmall{
  font-size: 1.2em;
  font-weight: bold;
}
.chartDiv{
width: 100%;
padding: 0;
}
.paragraph{
width: 100%;
}
.paragraphAbout{
  padding-left: 0;
  width: 100%;
}
.table {
  padding-right: 1%;
}
.checkboxes{
  padding-right: 1%;
}
.checkBoxDiv{
padding-left: 1%;
}
.embeddingText{
width: 100%;
}

.partyValues{
  font-size: 0.7em;
}
.c3 svg{
  height: 100%;
}
.partyValues{
  padding: 0!important;
}
.shareButtonImage{
  height: 15px;
  width: 15px;
  border-radius: 2px;

}
#lineChart{
  width: 100%;
  height: 100%;
}

.barNum > text{
  font-size: 2em;

}
.barImage{
  width: 30px;
  height: 30px;
  border-radius: 5px;

}
.elecVote, .boldText{
  padding: 0;
  margin: 0.7%;
  font-size: 1em;
}

#bars > g > text{
  font-size: 1.5em;
}
#barsSimple > g > text{
  font-size: 1.5em;
}

}

@media (max-width: 399px){

body{
  font-size: 1em;
}

.headerDiscription{
font-size: 1em;
}
.pageHeading{
font-size: 1.2em;
}
.checkBoxDiv{
padding-left: 5%;
}
.shareButtonImage{
  height: 10px;
  width: 10px;
  border-radius: 2px;

}

#cardsRow{
  display: none;
}
#textChart1{
  display: none;
}
#textChart1Small{
  display: inline;
}
.numbersSmall{
  font-size: 1.2em;
  font-weight: bold;
}
.chartDiv{
width: 100%;
padding: 0;
}
.chartContainer{
  margin-top: 5%;
}

#chart-1{
  min-height: 300px;

}

.c3-region.regionX{
  font-size: 0.8em;
}
tbody{
  font-size: 1em;

}
.tableHeader{
  font-size: 0.8em;
}
.paragraph{
width: 100%;
}
.paragraphAbout{
  padding-left: 0;
  width: 100%;
}
.table {
  padding-right: 1%;
}
.checkboxes{
  padding-right: 1%;
}
.partyValues{
  font-size: 0.7em;
}
.label--checkbox{
  font-size: 0.9em;
}
.c3 svg{
  height: 200px;
}
.shareButtonImage{
  height: 10px;
  width: 10px;
  border-radius: 2px;
}
#lineChart{
  width: 100%;
  height: 100%;
}
.barNum > text{
  font-size: 1.5em;

}
.barImage{
  width: 30px;
  height: 30px;
  border-radius: 5px;

}
.elecVote, .boldText{
  padding: 0;
  margin: 0.7;
  font-size: 1em;
}
#bars > g > text{
  font-size: 1.5em;
}
#barsSimple > g > text{
  font-size: 1.5em;
}

}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/* IE10+ CSS styles go here */
#mapUSA{
  width: 100%;
  height: 500px;
}
}

/* Make clicks pass-through */
#loading-bar,
#loading-bar-spinner {
  pointer-events: none;
  -webkit-pointer-events: none;
  -webkit-transition: 350ms linear all;
  -moz-transition: 350ms linear all;
  -o-transition: 350ms linear all;
  transition: 350ms linear all;
}

#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active,
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active {
  opacity: 0;
}

#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave,
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave {
  opacity: 1;
}

#loading-bar .bar {
  -webkit-transition: width 350ms;
  -moz-transition: width 350ms;
  -o-transition: width 350ms;
  transition: width 350ms;

  background: #29d;
  position: fixed;
  z-index: 10002;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}

/* Fancy blur effect */
#loading-bar .peg {
  position: absolute;
  width: 70px;
  right: 0;
  top: 0;
  height: 2px;
  opacity: .45;
  -moz-box-shadow: #29d 1px 0 6px 1px;
  -ms-box-shadow: #29d 1px 0 6px 1px;
  -webkit-box-shadow: #29d 1px 0 6px 1px;
  box-shadow: #29d 1px 0 6px 1px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 10002;
  top: 10px;
  left: 10px;
}

#loading-bar-spinner .spinner-icon {
  width: 14px;
  height: 14px;

  border:  solid 2px transparent;
  border-top-color:  #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: loading-bar-spinner 400ms linear infinite;
  -moz-animation:    loading-bar-spinner 400ms linear infinite;
  -ms-animation:     loading-bar-spinner 400ms linear infinite;
  -o-animation:      loading-bar-spinner 400ms linear infinite;
  animation:         loading-bar-spinner 400ms linear infinite;
}

@-webkit-keyframes loading-bar-spinner {
  0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes loading-bar-spinner {
  0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes loading-bar-spinner {
  0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes loading-bar-spinner {
  0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes loading-bar-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
